<!DOCTYPE html>
<html>

<head>
	<title>Bill</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style type="text/css" media="screen">
		body {
			text-decoration-color: white;
			font-size: 30px;
		}

		.name {
			font-size: 25px;
		}

		.column {
			float: left;
			width: 30%;
			padding: 10px;
			height: 300px;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>
</head>

<body>
	<center class="name">किपला दूध सं.मया.</center>
	<center>नाव: <%=No%> - <%=Name%>
	</center>
	<hr>
	<div style="margin-left: 30px;">
		<table class="table">
			<tr>
				<th>तारीख</th>
				<th>वेळ</th>
				<th>दूध</th>
				<th>फॅट</th>
				<th>SNF</th>
				<th>दर</th>
				<th>रक्कम</th>
			</tr>
			<% data.forEach((ele)=>{ %>
			<tr>
				<td><%=moment(ele.date, "DD/MM/YYYY")%></td>
				<td><%=ele.hour%></td>
				<td><%=ele.milk%></td>
				<td><%=ele.fat%></td>
				<td><%=ele.snf%></td>
				<td><%=ele.rate%></td>
				<td><%=ele.t_rate%></td>
			</tr>
			<% }) %>
		</table>
	</div>
	<div>
		<table class="table table-bordered" style="padding-left: 50%;padding-right: 50%;">
			<tr>
				<td>ए.दूध</td>
				<td><b>
						<%=totalmilk%>
					</b></td>
				<td>ऍडव्हान्स</td>
				<td><b>
						<%=advance%>
					</b></td>
			</tr>
			<tr>
				<td>पशुखाद्य</td>
				<td><b>
						<%=supply%>
					</b></td>
				<td>ए.कपात</td>
				<td><b>
						<%=cutting%>
					</b></td>
			</tr>
			<tr>
				<td>ए.रक्कम</td>
				<td><b>
						<%=totalRate%>
					</b></td>
				<td>बँक भरणा</td>
				<td><b>
						<%=bank%>रु.
					</b></td>
			</tr>
			<tr>
				<td>शि.पशुखाद्य</td>
				<td><b>tobesendरु.</b></td>
				<td>देय रक्कम</td>
				<td><b>
						<%=amountTogiven%>रु.
					</b></td>
			</tr>
		</table>
	</div>
</body>

</html>